body {
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    margin: 5px;
    border: 1px solid #ccc;
    width: 150px;
    padding: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

p {
    color: #555;
}