body {
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #555;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    padding: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
}